<h2 class="title">Inscription</h2>
<!-- Use the NgModel for two-way data binding -->
<form
    [formGroup]="formData"
    (submit)="formSubmit.emit(formData.value)">
    <div class="field">
        <label for="firstName">Votre prénom <span *ngIf="firstName">Obligatoire</span></label>
        <input
            formControlName="firstname"
            type="text"
            name="firstname"
            class="input is-primary is-small">
    </div>

    <div class="field">
        <label for="lastName">Votre nom <span *ngIf="lastName">Obligatoire</span></label>
        <input
            formControlName="lastname"
            type="text"
            name="lastname"
            class="input is-primary is-small">
    </div>

    <div class="field">
        <label for="email">Votre adresse mail <span *ngIf="email">Obligatoire</span></label>
        <input
            formControlName="email"
            type="email"
            name="email"
            class="input is-primary is-small">
    </div>

    <div class="field">
        <label for="password">Votre mot de passe <span *ngIf="password">Obligatoire</span></label>
        <input
            formControlName="password"
            type="password"
            name="password"
            class="input is-primary is-small">
    </div>

    <div class="field">
        <label for="repeate-password">Répéter votre mot de passe<span
                *ngIf="repeatpassword">Différent</span></label>
        <input
            formControlName="repeatpassword"
            type="password"
            name="repeatpassword"
            class="input is-primary is-small">
    </div>

    <div class="field">
        <div class="level-left">
            <div class="level-item">
                <button [disabled]="!formData.valid"
                    type="submit"
                    class="button is-primary is-small">Inscription</button>
            </div>
        </div>
    </div>
</form>
