<h2 class="title is-4 has-text-centered">Inscription</h2>
<!-- Use the NgModel for two-way data binding -->
<form
    [formGroup]="formData"
    (submit)="formSubmit.emit(formData.value)">
    <div class="field">
        <input
            formControlName="firstname"
            type="text"
            name="firstname"
            class="input is-primary is-small"
            placeholder="Mon prénom...">
    </div>

    <div class="field">
        <input
            formControlName="lastname"
            type="text"
            name="lastname"
            class="input is-primary is-small"
            placeholder="Mon nom...">
    </div>

    <div class="field">
        <input
            formControlName="email"
            type="email"
            name="email"
            class="input is-primary is-small"
            placeholder="Mon adresse mail...">
    </div>

    <div class="field">
        <input
            formControlName="password"
            type="password"
            name="password"
            class="input is-primary is-small"
            placeholder="Mon mot de passe...">
    </div>

    <div class="field">
        <input
            formControlName="repeatpassword"
            type="password"
            name="repeatpassword"
            class="input is-primary is-small"
            placeholder="Répéter mon mot de passe...">
    </div>

    <div class="field">
        <div class="level-left">
            <div class="level-item">
                <button [disabled]="!formData.valid"
                    type="submit"
                    class="button is-primary is-small">Je m'inscris</button>
            </div>
            <div class="level-item">
                <a href="#"
                    role="button"
                    (click)="alreadyRegistered.emit()">Déjà inscrit ?</a>
            </div>
        </div>
    </div>
</form>
