<section class="section has-text-centered">
    <h2 class="title is-4">Liste de courses</h2>
</section>

<section class="section">
    <app-add-item (addItem)="addItemToList($event)"></app-add-item>
</section>

<section class="section">
    <ul *ngFor="let item of items" class="block-list is-small">
        <app-single-item [item]="item" (addItemToInventory)="addItemToInventory($event)"></app-single-item>
    </ul>
</section>

<section class="section has-text-centered" *ngIf="items.length == 0">
    <p>Quelqu'un a encore oublié de remplir la liste des courses...</p>
</section>
