<h2 class="title is-4 has-text-centered">Connexion</h2>
<form [formGroup]="formData"
    (submit)="formSubmit.emit(formData.value)"
    class="form">
    <div class="field">
        <input formControlName="email"
            type="email"
            name="email"
            required
            minlength="5"
            placeholder="Mon email..."
            class="input is-primary is-small">
    </div>
    <div class="field">
        <input formControlName="password"
            type="password"
            name="password"
            required
            minlength="5"
            placeholder="Mon mot de passe..."
            class="input is-primary is-small">
    </div>
    <div class="field level">
        <div class="level-left">
            <div class="level-item">
                <button [disabled]="!formData.valid"
                    type="submit"
                    class="button is-primary is-small">Je me connecte</button>
            </div>
            <div class="level-item">
                <a href="#"
                    role="button"
                    (click)="notRegistered.emit()">Pas encore inscrit ?</a>
            </div>
        </div>
    </div>
</form>
