// ----- COLORS -----
// custom colors
$ming: hsl(190%, 69%, 28%); // petrol blue
$ming-dark: hsl(190%, 69%, 14%); // dark petrol blue
$ming-light: hsl(190%, 69%, 28%, .85); // light petrol blue

$gunmetal: hsl(231%, 12%, 55%); // dark grey
$dark-gunmetal: hsl(231%, 12%, 21%); // darker grey
$red: hsl(352%, 76%, 43%); // red

$custom-colors: (
    'primary-light': $ming-light,
    'dark-lighter': $gunmetal
);

// redefine some of Bulma's colors
$grey-lighter: hsl(0, 0%, 86%);
$grey-dark: $gunmetal;
$grey-darker: $dark-gunmetal;

// theme colors
$primary: #000;
$secondary: #f6c3b4;
$link: $ming-dark;
$danger: $red;

// ----- ELEMENTS COLORS -----
// global text
$text: $grey-darker;

// navbar
$navbar-item-color: $primary;

// inputs
$input-border-color: transparent;
$input-shadow: none;

// tags
$tag-background-color: $grey-lighter;
$input-placeholder-color: $grey-dark;

// message (bookmark)
$message-header-background-color: $ming-light;

// global radius
$radius: 0;


// ----- FONT -----
$family-sans-serif: "Nunito", sans-serif;

// ----- IMPORTS -----
@import "../node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-block-list/src/block-list.scss";
@import "./node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";


// ----- GLOBAL STYLES -----
@media screen and (min-width:769px){
    .section {
        padding: 1.5rem 3.5rem;
    }
}

.section {
    padding: .5rem;

    &:first-of-type {
        padding: 1.5rem .5rem 0 .5rem;
    }

    &:not(:first-of-type) {
        padding: 1.5rem .5rem;
    }

    // &:last-of-type {
    //     padding: 0 1.5rem 1.5rem 1.5rem;
    // }

}

.button, .button.is-small {
    border-radius: 0;
}

// footer
footer {
    width: 100%;
    padding: .2rem;
    position: absolute;
    bottom: 0;
    background-color: $primary;

    a {
        color: $white;

        &:hover {
            color: $secondary;
        }
    }
}
